@font-face {
    font-family: 'fonte-desejada';
    src: url(font/Just\ Breathe.ttf) format('truetype');
}

@font-face {
    font-family: 'fonte-encomenda-p';
    src: url(font/LEMONMILK-RegularItalic.otf);
}

body {
    background-color: #e8f0f3;
}
 
h1{
    text-align: center;
    font-family: 'fonte-desejada';
    margin-top: 2%;
}

.full-height-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
#container-bolo-decorado, h5{
    text-align: center;
    font-family: 'fonte-desejada';
}

#container-encomenda, p{
    text-align: center;
    font-family: 'fonte-encomenda-p';
}

.text-pink {
    color: #FFC0CB !important; /* Esta é a cor rosa clássica. Você pode usar qualquer tom de rosa que preferir. */
}

#container-docinhos, docinhospt1{
    font-family: 'fonte-encomenda-p';
}

.button {
    font-family: 'fonte-encomenda-p';
}

#chamar-wpp {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
footer{
    align-items: center;
    background-color: #e8f0f3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
form {
    background: #6ccbee;
    border-radius: 5px;
    box-shadow: #e8f0f3;
    display: flex;
    flex-direction: column;
  }














/* Estilos para dispositivos móveis */
@media (max-width: 767.98px) {
    .banner-img {
      width: 100%; /* Define a largura da imagem como 100% para ocupar toda a largura do contêiner */
      height: auto; /* Mantém a proporção original da imagem */
      display: block; /* Garante que a imagem ocupe toda a largura disponível */
    }
  }

/* Estilos para dispositivos móveis */
@media (max-width: 767.98px) {
    .container-bolo-decorado .row > div[class^='col-'] {
      flex: 0 0 100%; /* Fazer as colunas ocuparem 100% da largura em telas menores */
      max-width: 100%; /* Garantir que as colunas ocupem toda a largura disponível */
      margin-bottom: 20px; /* Adicionar um espaço entre as colunas */
    }
  }

  @media (max-width: 767.98px) {
    .container-docinhos .row > div[class^='col-'] {
      flex: 0 0 50%; /* Fazer as colunas ocuparem 50% da largura em telas menores */
      max-width: 50%; /* Garantir que as colunas ocupem metade da largura disponível */
      margin-bottom: 20px; /* Adicionar um espaço entre as colunas */
    }
  }

  /* Estilos para dispositivos móveis */
@media (max-width: 767.98px) {
    .center-image {
      display: block; /* Para centralizar a imagem */
      margin-left: auto; /* Centraliza horizontalmente */
      margin-right: auto; /* Centraliza horizontalmente */
      max-width: 50%; /* Define a largura máxima da imagem em dispositivos menores */
      height: auto; /* Mantém a proporção original da imagem */
    }
  }
  
  /* Estilos para telas maiores (notebooks, desktops, etc.) */
  @media (min-width: 768px) {
    .center-image {
      display: block; /* Para centralizar a imagem */
      margin-left: auto; /* Centraliza horizontalmente */
      margin-right: auto; /* Centraliza horizontalmente */
      max-width: 30%; /* Define a largura máxima da imagem em telas maiores */
      height: auto; /* Mantém a proporção original da imagem */
    }
  }
  
  

  
