@font-face {
    font-family: 'fonte-desejada';
    src: url(font/Just\ Breathe.ttf) format('truetype');
}

@font-face {
    font-family: 'fonte-encomenda-p';
    src: url(font/LEMONMILK-RegularItalic.otf);
}

body {
    background-color: #e8f0f3;
}
 
h1{
    text-align: center;
    font-family: 'fonte-desejada';
    margin-top: 2%;
}

#container-bolo-decorado, h5{
    text-align: center;
    font-family: 'fonte-desejada';
}

#container-encomenda, p{
    text-align: center;
    font-family: 'fonte-encomenda-p';
}

.text-pink {
    color: #FFC0CB !important; /* Esta é a cor rosa clássica. Você pode usar qualquer tom de rosa que preferir. */
}

#container-docinhos, docinhospt1{
    font-family: 'fonte-encomenda-p';
}

.button {
    font-family: 'fonte-encomenda-p';
}

#chamar-wpp {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
footer{
    align-items: center;
    background-color: #e8f0f3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
form {
    background: #6ccbee;
    border-radius: 5px;
    box-shadow: #e8f0f3;
    display: flex;
    flex-direction: column;
  }






  /* Estilos para telas menores que 576px (como celulares em modo retrato) */
@media (max-width: 575.98px) {
    h1 {
      font-size: 24px; /* Reduzir o tamanho do título principal */
    }
  
    .figure img {
      width: 100%; /* Tornar a imagem do banner ocupando 100% da largura */
    }
  
    .container-fluid {
      padding: 0; /* Reduzir o padding do container */
    }
  
    .col-3 {
      flex: 0 0 100%; /* Fazer as colunas ocuparem 100% da largura */
      max-width: 100%; /* Garantir que as colunas ocupem toda a largura disponível */
      margin-bottom: 20px; /* Adicionar um espaço entre as colunas */
    }
  }
  
  /* Estilos para telas maiores que 576px (dispositivos maiores que celulares em modo retrato) */
  @media (min-width: 576px) {
  }

  /* Estilos para dispositivos Android com largura de tela até 360px */
@media only screen and (max-width: 360px) {
    /* Seus estilos para dispositivos Android menores aqui */
  }
  
  /* Estilos para iPhones com largura de tela até 375px (iPhone 6/7/8, SE) */
  @media only screen and (max-width: 375px) {
    /* Seus estilos para iPhones menores aqui */
  }
  
  /* Estilos para iPhones com largura de tela até 414px (iPhone 6/7/8 Plus, X, XS, 11 Pro, 12 Mini) */
  @media only screen and (max-width: 414px) {
    /* Seus estilos para iPhones maiores aqui */
  }
  
  /* Estilos para iPhones com largura de tela até 768px (iPad no modo paisagem) */
  @media only screen and (max-width: 768px) {
    /* Seus estilos para iPads ou iPhones maiores (no modo paisagem) aqui */
  }
  
  /* Estilos para iPads com largura de tela até 1024px (iPad no modo retrato) */
  @media only screen and (max-width: 1024px) {
    /* Seus estilos para iPads maiores (no modo retrato) aqui */
  }
  

  
